@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Lexend:wght@300;400&family=Work+Sans:wght@200;400;700;800&display=swap');

:root {
	--accent: rgba(255, 65, 165, 1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

/* NAV SECTION */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 0;
	margin: 0 13%;
	background-color: #fff;
}
header {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.2rem;
	font-weight: 700;
	color: #000;
}

.logo img {
	width: 25%;
}

.logo h1 span {
	color: var(--accent);
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	list-style: none;
	margin-left: 3rem;
}

nav ul li a {
	font-size: 0.8rem;
	text-decoration: none;
	color: #000;
	font-weight: 400;
}

.nav-div {
	font-size: 0.8rem;
	padding: 15px 20px;
	background-color: rgba(10, 2, 35, 0.1);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.3rem;
}

.nav-div img {
	width: 15%;
}

/* HERO SECTION */

.banner-section {
	background-size: contain;
	background-image: url('images/gradient.png');
	background-position: left;
	background-repeat: no-repeat;
}

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 13%;
}
.banner-image {
	width: 50%;
}

.banner-content > h1 {
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
}

.gradient {
	background: linear-gradient(#f948b2, #8758f1);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.banner-content .banner-title {
	font-size: 5rem;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.banner-info {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.2em;
}

.banner-buttons {
	margin-top: 2rem;
	display: flex;
	gap: 1rem;
}

.button {
	padding: 1rem 2rem;
	border: none;
	border-radius: 3rem;
	color: white;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #f948b2;
}

.banner-buttons button:hover {
	background-color: #8758f1;
}

.banner-buttons button:last-child {
	background-color: #4ec5f7;
}

.banner-buttons button:last-child:hover {
	background-color: #1a8cc4;
}

/* Game showcase Section */

.game-showcase {
	padding: 8rem 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 13%;
}

.game-showcase .section-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-info h1 {
	font-size: 3rem;
	font-weight: 700;
}

.section-info p {
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	margin-top: 1rem;
}

.games {
	margin-top: 2rem;
	display: flex;
	width: 100%;
	gap: 1.5rem;
	/* flex-wrap: wrap; */
}

.game-showcase .game {
	width: 100%;
}

.game img {
	width: 100%;
}

.img-div {
	position: relative;
	margin-bottom: 1rem;
}

.overlay {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: #f948b2;
	font-size: 1rem;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.5);
	gap: 1rem;
	border-radius: 1rem;
	border: 3px solid #f948b2;
	display: none;
}

.overlay img {
	width: 15%;
}

.img-div:hover .overlay {
	display: flex;
	cursor: pointer;
}

/* Play Instantly */

.play-instantly {
	margin: 0 13%;
	margin-top: 10rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.play-instantly .section-info {
	text-align: right;
}

.play-instantly .section-info p {
	text-align: right;
	max-width: 40ch;
}

.play-instantly-images {
	display: flex;
	justify-content: flex-end;
	max-width: 60%;
}

.small-img {
	object-fit: contain;
	align-self: flex-end;
	overflow: hidden;
	position: relative;
	left: 50%;
	transform: translateX(-100%) translateY(30%);
}

.big-img {
	overflow: hidden;
}

/* Careers */

.careers {
	margin-top: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff42a5;
}

.list {
	margin: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list p {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.left p {
	text-align: left;
}

.right p {
	text-align: right;
}

.careers .section-info {
	text-align: left;
	color: white;
	margin-left: 13%;
}

.section-info .section-title p {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.875rem;
	text-align: left; /* 166.667% */
}

.section-info .button {
	background-color: white;
	color: #f948b2;
	font-family: Work Sans;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.careers img {
	max-width: 50%;
}

.careers {
	padding: 10rem 0;
}

.small-games {
	background-color: #f5e3ee80;
}

.games-container {
	padding: 10rem 0;
	margin: 0 13%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.games-container .game {
	display: flex;
	background-color: white;
	align-items: center;
	border-radius: 3.125rem;
	padding: 0.3rem;
}

.games-container .game img {
	object-fit: contain;
	flex: 0;
}

.games-container .game p {
	padding: 0 1rem;
	color: #0b0223;
	font-size: 1rem;
	font-weight: 600;
}

.games-container .game:hover {
	box-shadow: 0 0 0 2px #f948b2;
	cursor: pointer;
}

.games-container .game:hover p {
	color: #f948b2;
}

footer {
	background-color: #0b0223;
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 10rem 0;
}

footer .logo {
	color: white;
}

.footer-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.footer-links a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	margin: 4rem 3rem;
}

.footer-links a:hover {
	color: #f948b2;
}

footer .logos {
	display: flex;
	justify-content: space-between;
	gap: 4rem;
}

.footer-info a,
.footer-info p {
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
	text-decoration: none;
}

.footer-info {
	margin: 4rem 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
	row-gap: 2rem;
}

.footer-info p {
	grid-column: span 4;
}

.footer-info a:hover {
	color: #fff;
}

@media screen and (max-width: 576px) {
	header {
		box-shadow: none;
	}
	nav {
		flex-direction: column;
	}
	nav ul {
		flex-direction: column;
	}
	nav ul li {
		padding: 2rem 0;
		margin-left: 0;
	}

	.banner {
		flex-direction: column-reverse;
		margin: 0 5%;
	}
	.banner-image {
		width: 100%;
	}

	.banner-section {
		background-image: none;
	}

	.banner-content {
		margin: 0;
		background-image: url('images/gradient.png');
		background-size: contain;
		background-position: left;
		background-repeat: no-repeat;
		padding: 5rem;
		transform: scale(0.8);
	}

	.game-showcase {
		padding: 3rem 0 0 0;
	}

	.section-info h1 {
		margin: 0 5%;
		font-size: 1.2rem;
	}

	.game-showcase .section-info p {
		font-size: 0.8rem;
		text-align: center;
	}

	.play-instantly .section-info p {
		font-size: 0.8rem;
		text-align: center;
	}

	.games {
		flex-direction: column;
	}

	.games .game p {
		font-size: 1rem;
		text-align: center;
		margin: 1rem 0;
	}

	.play-instantly .section-info {
		text-align: center;
		margin: 2rem 0;
	}

	.play-instantly {
		flex-direction: column;
		align-items: center;
		margin-top: 2rem;
	}

	.play-instantly-images {
		max-width: 100%;
		flex-direction: column-reverse;
	}
	.small-img {
		align-self: flex-start;
		transform: translateY(-40%);
		left: 0;
		max-width: 50%;
	}
	.big-img {
		width: 80%;
		align-self: flex-end;
	}
	.careers {
		margin-top: 3rem;
		flex-direction: column;
		align-items: center;
	}
	.list p {
		font-size: 0.8rem;
		font-weight: 400;
		line-height: 1rem;
	}
	.section-info .section-title p {
		font-size: 0.7rem;
		font-weight: 400;
		line-height: 1.875rem;
		text-align: left; /* 166.667% */
	}
	.section-title h1 {
		font-size: 2rem;
		margin: 0;
	}
	.section-info {
		margin-right: 10%;
	}
	.careers img {
		max-width: 100%;
	}
	.careers .button {
		font-size: 1rem;
		margin-bottom: 3rem;
	}

	.games-container {
		padding: 5rem 0;
		margin: 0 5%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		justify-items: center;
		align-items: center;
		grid-auto-columns: min-content;
	}
	.games-container .game {
		border-radius: 3.125rem;
	}
	.games-container .game p {
		padding: 0 0.5rem;
		font-size: 0.5rem;
		font-weight: 600;
	}
	.games-container .game img {
		object-fit: contain;
		width: 30%;
	}
	footer .logo img {
		width: 20%;
	}
	footer .logo h1 {
		font-size: 1.5rem;
	}
	.footer-links {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 2rem);
		justify-items: center;
		align-items: center;
		gap: 1rem;
		margin: 2rem 0;
	}
	.footer-links a {
		margin: 0;
		font-size: 0.7rem;
		font-weight: 400;
	}
	footer .logos {
		margin: 2rem 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		justify-items: center;
		align-items: center;
		column-gap: 2rem;
		row-gap: 4rem;
	}

	.footer-info {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	.footer-info p {
		grid-column: span 2;
	}
	.footer-info p,
	.footer-info a {
		font-size: 0.7rem;
	}
}

@media screen and (max-width: 769px) and (min-width: 577px) {
	.logo {
		font-size: 1rem;
	}
	nav ul li {
		list-style: none;
		margin-left: 1rem;
	}
	nav ul li a {
		font-size: 0.7rem;
		text-decoration: none;
		color: #000;
		font-weight: 400;
	}
	.nav-div {
		font-size: 0.7rem;
		padding: 10px 15px;
	}

	.banner-content > h1 {
		font-size: 1.5rem;
	}

	.banner-info p {
		font-size: 0.8rem;
	}

	.banner-content {
		padding: 3rem 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.banner-buttons .button {
		margin: 0;
	}
	.banner-content .banner-title {
		font-size: 4rem;
		margin-bottom: 0rem;
	}
	.banner-buttons {
		flex-direction: column;
	}

	.game-showcase .section-info p {
		font-size: 1rem;
	}
	.game-showcase .section-info h1 {
		font-size: 2rem;
	}

	.game-showcase .games {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.play-instantly .section-info p {
		font-size: 1rem;
	}
	.play-instantly .section-info h1 {
		font-size: 2rem;
	}

	.games-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
	.careers .section-info h1 {
		font-size: 2rem;
	}
	.careers .section-info p {
		font-size: 0.9rem;
	}
	.list p {
		line-height: 1rem;
	}
}
