@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Lexend:wght@300;400&family=Work+Sans:wght@200;400;700;800&display=swap');

:root {
	--accent: rgba(255, 65, 165, 1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

/* NAV SECTION */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 0;
	margin: 0 13%;
	background-color: #fff;
}
header {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav .logo {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 700;
	color: #000;
}

.logo img {
	width: 25%;
}

nav .logo h1 span {
	color: var(--accent);
	margin-left: 20px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	list-style: none;
	margin-left: 3rem;
}

nav ul li a {
	font-size: 0.8rem;
	text-decoration: none;
	color: #000;
	font-weight: 400;
}

.nav-div {
	font-size: 0.8rem;
	padding: 15px 20px;
	background-color: rgba(10, 2, 35, 0.1);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.3rem;
}

.nav-div img {
	width: 15%;
}

/* HERO SECTION */

.banner-section {
	background-image: url('images/gradient.png');
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
}

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 13%;
}
.banner-image {
	width: 50%;
}

.banner-content > h1 {
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
}

.gradient {
	background: linear-gradient(#f948b2, #8758f1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.banner-content .banner-title {
	font-size: 5rem;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.banner-info {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.2em;
}

.banner-buttons {
	margin-top: 2rem;
	display: flex;
	gap: 1rem;
}

.button {
	padding: 1rem 2rem;
	border: none;
	border-radius: 3rem;
	color: white;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #f948b2;
}

.banner-buttons button:hover {
	background-color: #8758f1;
}

.banner-buttons button:last-child {
	background-color: #4ec5f7;
}

.banner-buttons button:last-child:hover {
	background-color: #1a8cc4;
}

/* Game showcase Section */

.game-showcase {
	padding: 8rem 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 13%;
}

.game-showcase .section-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-info h1 {
	font-size: 3rem;
	font-weight: 700;
}

.section-info p {
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	margin-top: 1rem;
}

.games {
	margin-top: 2rem;
	display: flex;
	width: 100%;
	gap: 1.5rem;
	/* flex-wrap: wrap; */
}

.game {
	width: 100%;
}

.game img {
	width: 100%;
}

.img-div {
	position: relative;
	margin-bottom: 1rem;
}

.overlay {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: #f948b2;
	font-size: 1rem;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.5);
	gap: 1rem;
	border-radius: 1rem;
	border: 3px solid #f948b2;
	display: none;
}

.overlay img {
	width: 15%;
}

.img-div:hover .overlay {
	display: flex;
	cursor: pointer;
}

/* Play Instantly */

.play-instantly {
	margin: 0 13%;
	margin-top: 10rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.play-instantly .section-info {
	text-align: right;
}

.play-instantly .section-info p {
	text-align: right;
	max-width: 40ch;
}

.play-instantly-images {
	display: flex;
	justify-content: flex-end;
	max-width: 60%;
}

.small-img {
	object-fit: contain;
	align-self: flex-end;
	overflow: hidden;
	position: relative;
	left: 50%;
	transform: translateX(-100%) translateY(30%);
}

.big-img {
	overflow: hidden;
}

/* Careers */

.careers {
	margin-top: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff42a5;
}

.list {
	margin: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list p {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.left p {
	text-align: left;
}

.right p {
	text-align: right;
}

.careers .section-info {
	text-align: left;
	color: white;
	margin-left: 13%;
}

.section-info .section-title p {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.875rem;
	text-align: left; /* 166.667% */
}

.section-info .button {
	background-color: white;
	color: #f948b2;
	font-family: Work Sans;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.careers img {
	max-width: 50%;
}

.small-games {
	background-color: #f5e3ee80;
}

.games-container {
	padding: 10rem 0;
	margin: 0 13%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.games-container .game {
	display: flex;
	background-color: white;
	align-items: center;
	width: auto;
	border-radius: 3.125rem;
	padding: 0.5rem;
}

.games-container .game img {
	object-fit: contain;
	flex: 0;
}

.games-container .game p {
	padding: 0 1rem;
	color: #0b0223;
	font-size: 1rem;
	font-weight: 600;
}

.games-container .game:hover {
	box-shadow: 0 0 0 2px #f948b2;
}

.games-container .game:hover p {
	color: #f948b2;
}
